*{

    margin: 0 auto;
    box-sizing: border-box

}


header{

    background-color: red;
    width: 1000px;
    padding: 20px;
    text-align: center;

}


.heroimage{

    position: relative;
    width: 1000px;
}


.welcome{

    position: absolute;
    background-color: #ff0000 ;
    width: 450px;
    padding: 20px;
    top: 200px;
    left: 0px;


}

span{
    color: #ffffff;
    font-size: 45px;

}

h2{
    color: #feb614;
    font-size: 30px;

}